$keycolor: rgb(31, 21, 25);

header {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
}

h1 {
    font: 800 2.5rem "ax1", serif;
    text-decoration: underline overline $keycolor;
}